services:

	# cache for install steps
	install.cache: {class: Nette\Caching\Cache, arguments: [@Nette\Caching\IStorage, 'Install.CacheSteps'], autowired: no}

	- App\Presentation\Install\Steps(@install.cache)
	- Nette\DI\Config\Adapters\NeonAdapter

	# database migrations
	- App\Presentation\Install\MigrationService(migrationsPath: %appDir%/../migrations)
	- App\Presentation\Install\Factory\DatabaseFactory(configPath: %appDir%)
	- App\Presentation\Install\Factory\WebsiteFactory
	- App\Presentation\Sign\Factory
	- App\Presentation\Sign\SignUpFactory
	- App\Presentation\Install\InstallPresenter(tempPath: %tempDir%)


routing:
    routes:
        '[<lang=cs cs|en>/]<presenter>/': Install:default


# application settings
application:
	scanDirs: false

	# application mapping
	mapping: App\*\**Presenter


# application extensions
extensions:
	translator: Drago\Localization\DI\TranslatorExtension(%appDir%, %tempDir%)


# nette asset building
assets:
	mapping:
		default:
			path: dist
			type: vite
